@model IEnumerable<Website.Models.Skill>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}

<h1 class="fw-bold text-black">Skills</h1>
<hr />
<p>
    <a asp-action="Create" style="background-color:#FF6F61;" class="btn">Add Skill</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    <img src="~/Image/Skills/@Html.DisplayFor(modelItem => item.Image)" width="80px" heigth="80px" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-action="Edit" class="text-black" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" class="text-black" asp-route-id="@item.Id">Details</a> 
            </td>
        </tr>
}
    </tbody>
</table>
